.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid black; */
}

@media screen and (max-width: 767px) {
    .wrap {
        width: 90%;
    }
}
.black-bg {
    background-color: black;
    width: 100%;
    height: 1000px;
    left: 0;
    position: absolute;
    z-index: 1;
}

/* header */
header {
    /* background-color: black; */
    text-align: center;
    padding-top: 20px;
    position: relative;
    color: white;
    z-index: 10;
}

header .gnb {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo gnb-menu menu"
    "search search search";
}

header .gnb .logo {
    grid-area: logo;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header .gnb .gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    align-items: center;
}


header .gnb .gnb-menu ul{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li{
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}



header .gnb .gnb-menu ul li:hover{
  color: grey;
  }

header .gnb .gnb-menu ul li:hover::before{
  content: "";
  height: 2px;
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0); 
}

header .gnb .gnb-menu ul .active:hover{
    color: white;
    }
  
  header .gnb .gnb-menu ul .active:hover::before{
    width: 15px;
  }

header .gnb .gnb-menu ul .active::before{
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
        transform: translate(-50%, 0);
  }

header .gnb .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    /* width: 80%; */
    margin-left: 20%;
}


header .gnb .menu .menu-hover {
    padding: 10px 10px;
    border-radius: 30px;
}

header .gnb .menu .menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
}

header .gnb .menu .profile {
    background-color: white;
    color: grey;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;

}

header .gnb .search {
    grid-area: search;
    width: 70%;
    margin: 0 auto;
}

header .gnb .search .searchul {
    background-color: white;
    color: black;
    display: flex;
    border-radius: 50px;
}

header .gnb .search .searchul li {
   width: 25%;
   text-align: left;
   padding: 20px 50px 20px 20px ;
   font-weight: bold;
   border-radius: 50px;
   position: relative;
}

header .gnb .search .searchul li::after {
    position: absolute;
    content: "";
    width: 1.5px;
    height: calc(100% - calc(20px * 2));
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: gray;
}

header .gnb .search .searchul li:last-of-type::after{
    display: none;
}

header .gnb .search .searchul li:hover {
  background-color: lightgray;
 }

header .gnb .search .searchul li span {
    color: grey;
    font-size: 12px;
    font-weight: normal;
}

/* notice */

.notice {
    background-color: #FF385c;
    border-radius: 14px;
    text-align: center;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.notice p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.notice button {
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
    background-color: inherit;
    font-weight: bold;
    border-radius: 14px;
}

/* mainBanner */

.mainBanner {
    height: 600px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
   background-image: url("https://a0.muscache.com/im/pictures/5b6242a9-8832-432b-ac79-38de2a3d0b0d.jpg?im_w=960");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   z-index: 10;
}

.mainBanner .content {
    color: white;
    text-align: center;
   
}

.mainBanner .content p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.mainBanner .content button {
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: white;
    font-weight: bold;
    border-radius: 24px;
}


/* idea */
.city {
display: flex;
width: 100%;
overflow: auto;
}

.city .card {
    width: 25%;
    min-width: 250px;
    margin-right: 30px;
    cursor: pointer;
}

.city .card:nth-last-of-type(1) {
    margin-right: 0px;
}

.city .card img {
    width: 100%;
    height: 180px;
    display: block;
    border-radius: 15px 15px 0px 0px;
}

.city .card figcaption {
    border-radius: 0px 0px 15px 15px;
    height: calc(180px -  calc(24px * 2));
    padding: 24px 16px;
    color: white;
}

.city .card figcaption p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
}

.city .card figcaption span {
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
        .city {
            -ms-overflow-style: none; /*ie*/
            scrollbar-width: none; /*firefox*/
        }

        /*chrome*/
        .city::-webkit-scrollbar {
            display: none;
        }
        
        .city .card {
            margin-right: 15px;
        }
        
        .city .card figcaption p {
            font-size: 1.5rem;
            line-height: 2rem;
            padding-bottom: 0.5em;
        }
 }



/* expression */

.expression {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas: 
    "heading heading"
    "div1 div2";
}

@media screen and (max-width: 767px) {
    .expression {
        display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr ;
            grid-gap: 15px;
            grid-template-areas: 
            "heading"
            "div1"
            "div2";
    }
}

.expression .photodiv {
    height: calc(700px - calc(60px * 2));
    padding: 60px;
    /* border: 1px solid black; */
    border-radius: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: 10; */
}

.expression .photodiv:nth-of-type(1) {
    background-image: url("http://a0.muscache.com/im/pictures/ae7fadb9-0b76-49a7-a45a-835a7390144e.jpg?im_w=480");
}

.expression .photodiv:nth-of-type(2) {
    background-image: url("http://a0.muscache.com/im/pictures/ae7fadb9-0b76-49a7-a45a-835a7390144e.jpg?im_w=480");
}

.expression .photodiv p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.expression .photodiv button {
    color: black;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 15px 15px;
    border-radius: 10px;
    margin-top: 1rem;
}

.expression .photodiv button:hover {
    background-color: lightgray;
}